{% extends "users/login.html" %}
{% load crispy_forms_tags %}
{% block content %}
<center>
    <div class = "content-section col-3">
        <form method="POST" >
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="">
                    Reset Password
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Reset password
                </button>
            </div>
        </form>
    </div>
    </center>
{% endblock content %}